<link rel="stylesheet" href="app/styles/ManiVerifyFormStyle.css">
<form>
  <div class="mani-form-body">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="mani-intro-left">
          <p>Doc Code : IDS</p>
          <p>Doc Description : Information Disclosure Statement (IDS) Field</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="mani-intro-right">
          <p>PTO/SB/08a (03-51)</p>
          <p>Approved for use through 07/31/2016. OMB 0651-0031</p>
          <p>U.S. patent and Trademark Office, U.S. DEPARTMENT OF COMMERCE</p>
          <p>Under the Paperwork Reduction Act 1995, no persons are required to respond to a collection of information unless it contains a valid OMB control number</p>
        </div>
      </div>
    </div>

    <div class="row" style="border: 2px solid black; margin: 20px auto 0 auto;">
      <div class="col-md-4">
        <div class="mani-intro-col">
          <div class="mani-intro-heading">
            <p style="font-size: 21px; margin: 0;">INFORMATION DISCLOSURE STATEMENT BY APPLICANT</p>
            <p style="font-size: 14px; margin: 0;">( Not for submission under 37 CFR 1.99 )</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 mani-intro-info-col">
        <div class="mani-intro-info">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-5 border-1-black">
                <label class="control-label" for="txt_app_no_1">Application Number</label>
              </div>
              <div class="col-sm-7 padding-0">
                <input name="txt_app_no_1" type="text" id="txt_app_no_1" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5 border-1-black">
                <label class="control-label" for="txt_filing_dt_1">Filing Date</label>
              </div>
              <div class="col-sm-7 padding-0">
                <input name="txt_filing_dt_1" type="text" id="txt_filing_dt_1" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 border-1-black">
                <label class="control-label" for="txt_f_name_inventor_1">First Named Inventor</label>
              </div>
              <div class="col-sm-8 padding-0">
                <input name="txt_f_name_inventor_1" type="text" id="txt_f_name_inventor_1" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5 border-1-black">
                <label class="control-label" for="txt_art_unit_1">Art Unit</label>
              </div>
              <div class="col-sm-7 padding-0">
                <input name="txt_art_unit_1" type="text" id="txt_art_unit_1" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 border-1-black">
                <label class="control-label" for="txt_exam_name_1">Examiner Name</label>
              </div>
              <div class="col-sm-8 padding-0">
                <input name="txt_exam_name_1" type="text" id="txt_exam_name_1" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5 border-1-black">
                <label class="control-label" for="txt_at_doc_no_1">Attorney Docket Number</label>
              </div>
              <div class="col-sm-7 padding-0">
                <input name="txt_at_doc_no_1" type="text" id="txt_at_doc_no_1" class="form-control" />
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="row" style="border: 1px solid black; margin: 20px auto 0 auto;">
      <div class="col-sm-12 border-1-black padding-0">
        <h5 class="text-center">U.S. PATENTS
                    </h5>
      </div>
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_exam_initial_1">
                                    Examiner Initial<span><sup>*</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_exam_initial_1" type="text" id="txt_exam_initial_1" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_cite_no_1">
                                    Cite No
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_cite_no_1" type="text" id="txt_cite_no_1" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_pt_no_1">
                                    Patent Number
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pt_no_1" type="text" id="txt_pt_no_1" class="form-control" />
            </div>
          </div>

          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_kind_code_1">
                                    Kind Code
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_kind_code_1" type="text" id="txt_kind_code_1" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_issue_date_1">
                                    Issue Date
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_issue_date_1" type="text" id="txt_issue_date_1" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 3;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_patentee_1">
                                    Name of Patentee or Application of cited Document
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_patentee_1" type="text" id="txt_patentee_1" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 3;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_pages_1">
                                    Pages, Columns, Lines where Relevant Passages or Relevant Figures Appear
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pages_1" type="text" id="txt_pages_1" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border: 1px solid black; margin: 20px auto 0 auto;">
      <div class="col-sm-12 border-1-black padding-0">
        <h5 class="text-center">U.S. PATENT APPLICATION PUBLICATIONS
                    </h5>
      </div>
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_exam_initial_2">
                                    Examiner Initial<span><sup>*</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_exam_initial_2" type="text" id="txt_exam_initial_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_cite_no_2">
                                    Cite No
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_cite_no_2" type="text" id="txt_cite_no_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_pub_no_2">
                                    Publication Number
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pub_no_2" type="text" id="txt_pub_no_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_kind_code_2">
                                    Kind Code
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_kind_code_2" type="text" id="txt_kind_code_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_pub_date_2">
                                    Publication Date
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pub_date_2" type="text" id="txt_pub_date_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 3;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_patentee_2">
                                    Name of Patentee or Application of cited Document
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_patentee_2" type="text" id="txt_patentee_2" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 3;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_pages_2">
                                    Pages, Columns, Lines where Relevant Passages or Relevant Figures Appear
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pages_2" type="text" id="txt_pages_2" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border: 1px solid black; margin: 20px auto 0 auto;">
      <div class="col-sm-12 border-1-black padding-0">
        <h5 class="text-center">FOREIGN PATENT DOCUMENTS
                    </h5>
      </div>
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_exam_initial_3">
                                    Examiner Initial<span><sup>*</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_exam_initial_3" type="text" id="txt_exam_initial_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_cite_no_3">
                                    Cite No
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_cite_no_3" type="text" id="txt_cite_no_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_fr_doc_no_3">
                                    Foreign Document Number<span><sup>3</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_fr_doc_no_3" type="text" id="txt_fr_doc_no_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_country_code_3">
                                    Country Code<span><sup>2</sup></span> i
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_country_code_3" type="text" id="txt_country_code_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_kind_code_3">
                                    Kind Code<span><sup>4</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_kind_code_3" type="text" id="txt_kind_code_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-title">
              <label class="control-label" for="txt_pub_date_3">
                                    Publication Date
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pub_date_3" type="text" id="txt_pub_date_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 4;">
            <div class="mani-td-title long-text" style="padding: 3px 10px;">
              <label class="control-label" for="txt_patentee_3">
                                    Name of Patentee or Application of cited Document
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_patentee_3" type="text" id="txt_patentee_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 3;">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_pages_3">
                                    Pages, Columns, Lines where Relevant Passages or Relevant Figures Appear
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_pages_3" type="text" id="txt_pages_3" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-title">
              <label class="control-label" for="chk_T_1">
                                    T<span><sup>5</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox text-center">
              <div class="checkbox">
                <label>
                                        <input type="checkbox" id="chk_T_1" /></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border: 1px solid black; margin: 20px auto 0 auto;">
      <div class="col-sm-12 border-1-black padding-0">
        <h5 class="text-center">NON PATENT LITRATURE DOCUMENTS
                    </h5>
      </div>
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title">
              <label class="control-label" for="txt_exam_initial_4">
                                    Examiner Initial<span><sup>*</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_exam_initial_4" type="text" id="txt_exam_initial_4" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title">
              <label class="control-label" for="txt_cite_no_4">
                                    Cite No
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_cite_no_4" type="text" id="txt_cite_no_4" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title long-text">
              <label class="control-label" for="txt_author_4">
                                    Include name of the author (in CAPITAL LETTERS), title of the article (when appropriate), title of the item (book, magazine, journal, serial, symposium, catalog, etc), date, pages(s), volume-issue numbers(s), publisher, city and/or country where published.
                                </label>
            </div>
            <div class="mani-td-txtbox">
              <input name="txt_author_4" type="text" id="txt_author_4" class="form-control" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title" style="padding: 20px 11px;">
              <label class="control-label" for="chk_T_2">
                                    T<span><sup>5</sup></span>
                                </label>
            </div>
            <div class="mani-td-txtbox text-center">
              <div class="checkbox">
                <label>
                                        <input name="chk_T_2" type="checkbox" id="chk_T_2" /></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border: 1px solid black; margin: 20px auto 0 auto;">
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title" style="border-bottom: 1px;">
              <label class="control-label" for="txt-examiner">
                                    1
                                </label>
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title" style="border-bottom: 1px;">
              <label class="control-label" for="txt-examiner">
                                    BOTTCHER M., et al., "Effect of Oral Nitroglycerin and cold Stress on Myocardial Perfusion in Areas Subtended by Stenosed and Nonstendosed Coronary Arteries," American Journal of Cardiology, 2002, Vol. 89 (9), PP. 1019-1024.
                                </label>
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con">
            <div class="mani-td-title" style="border-bottom: 1px;">
              <div class="checkbox">
                <label>
                                        <input name="chk_botther" type="checkbox" id="chk_botther" /></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 border-1-black padding-0 bottom-heading">
        <h5 class="text-center">EXAMINER SIGNATURE
                    </h5>
      </div>
      <div class="col-sm-12 border-1-black padding-0">
        <div class="us-patent-row">
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-txtbox" style="padding: 3px 10px;">
              <label class="control-label" for="txt-examiner">
                                    Examiner Signature
                                </label>
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-txtbox">
              <input name="txt_exam_sign" type="text" id="txt_exam_sign" class="form-control" style="padding: 10px;" />
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 1;">
            <div class="mani-td-txtbox" style="padding: 3px 10px;">
              <label class="control-label" for="txt-examiner">
                                    Date Considered
                                </label>
            </div>
          </div>
          <div class="mani-us-patent-flex-item-con" style="flex-grow: 2;">
            <div class="mani-td-txtbox">
              <input name="txt_date_considered" type="text" id="txt_date_considered" class="form-control" style="padding: 10px;" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 border-1-black bottom-heading">
        <p>
          <span><sup>*</sup></span>EXAMINER: Initial if reference considered, whether or not citation is in conformance with MPEP 609. Draw line through a citation if not in conformance and not considered. include copy of this form with next communication
          to applicant.
        </p>
      </div>
      <div class="col-sm-12 border-1-black bottom-heading">
        <p>
          <span><sup>1</sup></span>See Kind Codes of USPTO Patent Documents at <a href="https://www.uspto.gov/" target="_blank">www.USPTO.gov</a> or MPEP 901.04. <span><sup>2</sup></span>Enter office that issued the document, by the two-letter code (WIPO
          Standard ST.3).
          <span><sup>3</sup></span> For Japanese patent documents, the indication of the year of the reign of the Emperor must precede the serial number of the patent document.
          <span><sup>4</sup></span>Kind of document by the appropriate symbols as indicated on the document under WIPO Standard ST.16 if possible.
          <span><sup>5</sup></span>Applicant is to place a check mark here if English language translation is attached.
        </p>
      </div>

    </div>
  </div>
  <div class="row" style="margin-bottom:30px;">
    <div class="col-sm-offset-5 col-sm-2">
      <input type="submit" name="btn_verified" value="Download Pdf" id="btn_verified" class="btn btn-info" />
    </div>
  </div>
</form>
